/* reset */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*HEADER*/

.header {
  background-color: black;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0 40px;
}
.logo-spotify {
  width: 90px;
  height: 30px;
  margin-left: 20px;
  /* border: white 1.5px solid; */
}
.spoti {
  width: 100%;
}

.menu-list {
  display: flex;
  padding: 0;
  /* border: white 1.5px solid; */
}
.menu-item {
  margin: 0 20px;
  /* border: white 1.5px solid; */
}
.menu-item a {
  color: white;
}

/* HERO */

.hero {
  background-color: #128686;
  top: 10vh;
  height: 65vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
.premium-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 75vw;
  position: relative;
  z-index: 10;
  left: 15px;
  padding: 0 40px;
}

.premium-info h1,
h2 {
  margin: 0;
}
.premium-info a {
  color: white;
}
.premium-info {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.premium-info h1 {
  font-size: 70px;
}
.premium-info h2 {
  font-size: 24px;
}
.premium-info small {
  width: 56vw;
}

.plans-bottom {
  background-color: green;
  text-transform: uppercase;
  border-radius: 2em;
  padding: 9px 28px;
  width: 152px;
}
.dancer {
  height: 65vh;
  width: 385px;
  position: absolute;
  right: 0;
  bottom: 0px;
  margin-right: 20px;
}
.dancer-img {
  width: 100%;
  height: 100%;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 71px;
  height: 80vh;
}
.main h1 {
  text-align: center;
  margin: 0em;
  position: relative;
  bottom: 30px;
}
.benefits {
  padding: 0;
  margin: 0;
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.benefit-item img {
width: 70%;
padding-bottom: 40px;
}
.benefit-text {
text-align: center;
}

/* FOOTER */
.footer {
  background-color: black;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-left: 40px;
  margin-bottom: 10px;
}
.info li {
  color: white;
  padding: 10px;
}
.copyright {
  padding: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.copyright li {
  color: white;
}
.copyright img {
  width: 30px;
}
